# Various IDE and OS files that should never be committed
.DS_Store
*.swp
*.old
*.lock
__MACOSX
.idea
/nbproject/*
.buildpath
.thumbs
Thumbs.db
build.properties
.settings/
.buildpath
/_notes/*
*.sublime-project
*.sublime-workspace
config.codekit
config.codekit3
.project
.externalToolBuilders
